---
import Layout from '../layouts/Layout.astro';
import Badge from '../components/Badge.astro';
import SectionContainer from "../components/SectionContainer.astro";
---

<Layout title="Portafolio LyT" description="Estudiante de ingeniería de sistemas">
	<div class="absolute top-7 left-5 md:left-30 lg:left-40 flex items-center space-x-4">
		<img 
		  src="Hoxy.png"
		  class="rounded-full w-16 h-16"
		  alt="imagen perfil"
		/>
		<span class="flex flex-row gap-x-10 opacity-85 text-sm md:text-base">
		  Liborio Andres Yara Tocarema
		</span> 
	  </div>
	  
	
  <main class="px-4">
	  <section class="w-full mx-auto lg:w-[740px] py-6 relative flex flex-col items-center lg:items-start">
		<h1 class="typewriter text-purple-300 text-3xl md:text-4xl lg:text-5xl font-bold flex flex-col items-center gap-x-4 pb-6 lg:pb-4 text-center max-w-full mx-auto">
		  Primera Unidad
            <div>
                <span class="typewriter text-pink-300 text-xl mt-2 text-center max-w-full lg:max-w-[740px] block mx-auto font-bold">
                    <a href="/Up1" class="hover:underline"> Primer Corte</a>
                </span>
            </div>
            <div1 class="flex justify-center items-center mt-4">
                <Badge className="bg-green-700 text-green-100 dark:bg-green-700 dark:text-green-100">En curso</Badge>
            </div1>
		</h1>
        <h2 class="typewriter text-red-300 text-xl mt-8 text-center max-w-full lg:max-w-[740px] block mx-auto font-bold break-words">
            Retroalimentación sobre los Conceptos de Pensamiento Sistémico
        </h2>

        <h3 class="typewriter text-purple-500 text-xl mt-12 text-center block mx-auto font-bold break-words max-w-full lg:max-w-[740px]">
            Pensamiento Sistémico
        </h3>
        
        <div class="text-container text-center mx-auto">
            <p class="text-pink-100/90 text-xl mt-4 max-w-full lg:max-w-[740px] mx-auto">
                El pensamiento sistémico es una manera de ver las cosas que se enfoca en cómo las partes de un sistema interactúan entre sí.
            </p>
            <p class="text-pink-100/90 text-xl mt-4 max-w-full lg:max-w-[740px] mx-auto">
                Por ejemplo, en lugar de solo observar una máquina por separado, se examinan cómo sus partes trabajan juntas para lograr un objetivo común. Es como cuando ves un motor de coche; en lugar de fijarte solo en una pieza, consideras cómo todas las partes, desde el pistón hasta la batería, funcionan en conjunto para hacer que el coche funcione.
            </p>
            <img 
                src="Motor.jpg" 
                alt="Imagen que acompaña el ejemplo" 
                class="mx-auto mt-8 w-1/2 h-auto rounded-md"
            />
        </div>
        
        <h4 class="typewriter text-pink-400 text-xl mt-16 text-center block mx-auto font-bold break-words max-w-full lg:max-w-[740px]">
            Cibernética 
        </h4>
        
        <div class="text-container text-center mx-auto">
            <p class="text-pink-100/90 text-xl mt-4 max-w-full lg:max-w-[740px] mx-auto">
                La cibernética, introducida por Norbert Wiener durante la Segunda Guerra Mundial, estudia cómo los sistemas (tanto biológicos como mecánicos) se regulan y controlan a sí mismos.
            </p>
            <p class="text-pink-100/90 text-xl mt-4 max-w-full lg:max-w-[740px] mx-auto">
                Por ejemplo, un misil autodirigido usa principios de cibernética para ajustar su trayectoria en vuelo, similar a cómo el cuerpo humano regula su temperatura a través de procesos biológicos.
            </p>
            <img 
                src="Misil.jpg" 
                alt="Imagen que acompaña el ejemplo" 
                class="mx-auto mt-8 w-1/2 h-auto rounded-md"
            />  
        </div>
        
        <h5 class="typewriter text-purple-300 text-xl mt-16 text-center block mx-auto font-bold break-words max-w-full lg:max-w-[740px]">
            Teoría del Caos 
        </h5>
        
        <div class="text-container text-center mx-auto">
            <p class="text-pink-100/90 text-xl mt-4 max-w-full lg:max-w-[740px] mx-auto">
                La teoría del caos examina sistemas donde pequeñas variaciones pueden llevar a grandes cambios en el futuro. Imagina que lanzas una moneda al aire: en el corto plazo y en el largo plazo, es difícil predecir si saldrá cara o cruz.
            </p>
            <p class="text-pink-100/90 text-xl mt-4 max-w-full lg:max-w-[740px] mx-auto">
                El clima es un buen ejemplo de un sistema caótico donde cambios mínimos pueden tener grandes impactos.
            </p>
            <img 
                src="Caos.jpg" 
                alt="Imagen que acompaña el ejemplo" 
                class="mx-auto mt-8 w-1/2 h-auto rounded-md"
            />  
        </div>
        
        <h6 class="typewriter text-pink-300 text-xl mt-16 text-center block mx-auto font-bold break-words max-w-full lg:max-w-[740px]">
            Teoría de la Gestalt 
        </h6>
        
        <div class="text-container text-center mx-auto">
            <p class="text-pink-100/90 text-xl mt-4 max-w-full lg:max-w-[740px] mx-auto">
                La teoría de la Gestalt en psicología sugiere que para entender algo, debes ver el todo y no solo las partes.
            </p>
            <p class="text-pink-100/90 text-xl mt-4 max-w-full lg:max-w-[740px] mx-auto">
                Por ejemplo, cuando ves una imagen completa en lugar de solo observar puntos individuales, obtienes una comprensión más clara de la imagen. Es como ver una pintura completa en lugar de fijarte solo en los detalles del pincel.
            </p>
            <img 
                src="Observacion.jpg" 
                alt="Imagen que acompaña el ejemplo" 
                class="mx-auto mt-8 w-1/2 h-auto rounded-md"
            />  
        </div>
        
        <h7 class="typewriter text-purple-400 text-xl mt-16 text-center block mx-auto font-bold break-words max-w-full lg:max-w-[740px]">
            Planeación Interactiva de Russell Ackoff
        </h7>
        
        <div class="text-container text-center mx-auto">
            <p class="text-pink-100/90 text-xl mt-4 max-w-full lg:max-w-[740px] mx-auto">
                Ackoff propuso que las organizaciones deberían ser vistas como organismos vivos, no solo como máquinas.
            </p>
            <p class="text-pink-100/90 text-xl mt-4 max-w-full lg:max-w-[740px] mx-auto">
                Esto significa que deben adaptarse y evolucionar, no solo seguir un plan rígido. En la práctica, esto implica que la planificación debe ser continua y participativa, como si todos en la empresa estuvieran trabajando juntos para adaptarse y mejorar constantemente.
            </p>
            <img 
                src="Planeación.jpg" 
                alt="Imagen que acompaña el ejemplo" 
                class="mx-auto mt-8 w-1/2 h-auto rounded-md"
            />
        </div>
        
        <h8 class="typewriter text-purple-500 text-xl mt-16 text-center block mx-auto font-bold break-words max-w-full lg:max-w-[740px]">
            Gregory Bateson 
        </h8>
        
        <div class="text-container text-center mx-auto">
            <p class="text-pink-100/90 text-xl mt-4 max-w-full lg:max-w-[740px] mx-auto">
                Bateson se enfocó en cómo los patrones y formas subyacentes conectan a todos los seres vivos. Según él, no solo se deben considerar los elementos individuales, sino cómo se relacionan entre sí dentro de un contexto mayor.
            </p>
            <p class="text-pink-100/90 text-xl mt-4 max-w-full lg:max-w-[740px] mx-auto">
                Esto es como estudiar cómo el comportamiento de un grupo de animales puede ofrecer más información sobre su ecosistema en general, que observar a cada animal por separado.
            </p>
            <img 
                src="SeresVivos.jpg" 
                alt="Imagen que acompaña el ejemplo" 
                class="mx-auto mt-8 w-1/2 h-auto rounded-md"
            />
        </div>
        
        <h9 class="typewriter text-pink-400 text-xl mt-16 text-center block mx-auto font-bold break-words max-w-full lg:max-w-[740px]">
            Teoría General de Sistemas (TGS)
        </h9>
        
        <div class="text-container text-center mx-auto">
            <p class="text-pink-100/90 text-xl mt-4 max-w-full lg:max-w-[740px] mx-auto">
                La TGS trata sobre cómo los sistemas están compuestos por partes que interactúan y cómo estos sistemas pueden ser abiertos (interactúan con su entorno) o cerrados (no interactúan con su entorno).
            </p>
            <p class="text-pink-100/90 text-xl mt-4 max-w-full lg:max-w-[740px] mx-auto">
                Por ejemplo, una empresa es un sistema abierto porque interactúa constantemente con su entorno, mientras que un reloj mecánico es un sistema cerrado porque sus operaciones no dependen de factores externos.
            </p>
            <img 
                src="TypeSist.jpg" 
                alt="Imagen que acompaña el ejemplo" 
                class="mx-auto mt-8 w-1/2 h-auto rounded-md"
            />
        </div>
        
        <h10 class="typewriter text-purple-300 text-xl mt-16 text-center block mx-auto font-bold break-words max-w-full lg:max-w-[740px]">
            Teoría de Grafos
        </h10>        
        
        <div class="text-container text-center mx-auto">
            <p class="text-pink-100/90 text-xl mt-4 max-w-full lg:max-w-[740px] mx-auto">
                En la teoría de grafos, los nodos y las conexiones entre ellos se utilizan para modelar y analizar sistemas complejos, como la gestión de proyectos.
            </p>
            <p class="text-pink-100/90 text-xl mt-4 max-w-full lg:max-w-[740px] mx-auto">
                Por ejemplo, si tienes varias tareas en un proyecto, puedes usar grafos para visualizar y planificar el orden en que deben completarse.
            </p>
            <img 
              src="grafo.jpg" 
              alt="Imagen que acompaña el ejemplo" 
              class="mx-auto mt-8 w-1/2 h-auto rounded-md"
            />
        </div>
        
        <h11 class="typewriter text-pink-400 text-4xl mt-16 text-center block mx-auto font-bold break-words max-w-full lg:max-w-[740px]">
            Conclusión Personal
        </h11>
        

        <div class="text-container text-center mx-auto">
            <p class="text-pink-100/90 text-xl mt-4 max-w-full lg:max-w-[740px] mx-auto">
                El pensamiento sistémico nos invita a ver el mundo de manera interconectada, comprendiendo que nada existe de manera aislada. Es como observar un río y darse cuenta de que no solo se trata del agua que fluye, sino de cómo esa agua interactúa con las piedras, la tierra, los árboles y hasta los animales que dependen de ella. Este enfoque nos permite reconocer que los problemas no pueden resolverse enfocándonos solo en las partes, sino entendiendo cómo esas partes afectan y son afectadas por el todo.
            <p class="text-pink-100/90 text-xl mt-4 max-w-full lg:max-w-[740px] mx-auto">
                Aplicado a la vida diaria, el pensamiento sistémico nos desafía a ser más conscientes de cómo nuestras decisiones y acciones repercuten no solo en nosotros mismos, sino en todo lo que nos rodea, desde nuestras relaciones hasta el ambiente y las comunidades. Nos invita a pensar en soluciones más holísticas, que consideren el panorama completo.
            </p>
            <img 
            src="Reflexion.jpg" 
            alt="Imagen que acompaña el ejemplo" 
            class="mx-auto mt-8 w-1/2 h-auto rounded-md"
        />
	  </section>
	</main>
  </Layout>