<header class="flex justify-end items-center py-11 w-full max-w-screen-xl mx-auto px-4">
    <nav class="flex flex-row gap-x-10 opacity-85 text-sm md:text-base">
      <a href="/" class="hover:underline">Principal</a>
      <a href="/PeSistem" class="hover:underline">Pensamiento sistémico</a>
    </nav>
  </header>
  