---
import "@fontsource-variable/onest"
/* import Footer from "../components/Footer.astro" */
import Header from "../components/Header.astro"
import Footer from "../components/Footer.astro"
interface Props {
  title: string
  description: string
}
const { description, title } = Astro.props
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>

  <body>
    <Header relative/>
    <slot />
    <Footer />
  </body>
 

</html>

<style is:global>
  html, body {
    overflow-x: hidden;
  }

  html {
    font-family: "Onest Variable", system-ui, sans-serif;
    scroll-behavior: smooth;
  }

  body {
    background: #B3C8CF;
    display: flex;
    flex-direction: column;
    min-height: 100%;
  }

  @media (prefers-reduced-motion: reduce) {
    html {
      scroll-behavior: auto;
    }
  }

  /* Animación de escritura */
  .typewriter {
  overflow: hidden; /* Esconde el texto que aún no ha sido "escrito" */
  white-space: nowrap; /* Asegura que el texto no haga saltos de línea */
  animation: typing 4s steps(40, end), blink 0.75s step-end infinite;
  display: inline-block; /* Asegura que el ancho del elemento sea adecuado para el contenido */
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%; /* Mantiene el texto completamente visible al terminar */
  }
}

@keyframes blink {
  from {
    border-right-color: rgba(255, 255, 255, 0.75);
  }
  to {
    border-right-color: transparent;
  }
}
</style>
